<!--Abraham - Se muestra el detalle del producto segun el id de la URL-->
<%- include("./partials/header") %>
<script src="/public/js/shoppingcart.js"></script>
<div class="dividirColumnas">
    <section class="imagenes">
        <div class="imagenProducto">
            <img src="/public/images/products/<%= product.image %>" alt="Producto">
        </div>
        <div class="imagenes_botones">
            <img width="44" height="44" decoding="async" src="/public/images/products/<%= product.image %>" class="ui-pdp-image" alt="<%= product.name %>">
            <img width="44" height="44" decoding="async" src="/public/images/products/<%= product.image %>" class="ui-pdp-image" alt="<%= product.name %>">
        </div>
    </section>
    <section class="detalles-producto">
        <form>
            <h1><%= product.name %></h1>
            <div class="precios">
                    <h3>$<%= product.price %></h3>
                    <h5><%= product.discount %>% OFF</h5>
            </div>
            <div class="listado">
                <%= product.description %>
            </div>
            <label>Seleccione el relleno:</label>
            <select class="estilo_cuadro" name="flavors">
                <option value="Seleccione">Seleccione...</option>
                <% flavors.forEach(flavor => {%>                    
                    <option value="<%= flavor.flavor_id %>">
                        <%= flavor.name %>
                    </option>
                <% });%>
            </select>
            <label>Seleccione el tamaño:</label>
            <select class="estilo_cuadro" name="size">
                <option value="seleccione">Seleccione...</option>
                <% sizes.forEach(size => {%>                    
                    <option value="<%= size.name %>">
                        <%= size.name %>
                    </option>
                <% });%>
            </select>
            <label>Seleccione la cantidad:</label>
            <select class="estilo_cuadro" name="quantity">
                <option value="cantidad">Seleccione...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button onClick="setFromInfo(this.form)" class="boton_carrito" name="boton" type="button">AÑADIR AL CARRITO</button>
        </form>
    </section>
</div>
<div class="prod">
    <h3>Productos recomendados</h3>
</div>
<div class="productos_similares">
    <% for (let i = 0; i <= 2; i++) { %>
        <div class="imagenes_prod_similares ">
            <% console.log(prods[i].image) %>
            <a href="/productos/detail/<%=prods[i].prod_id%>"><img src="/public/images/products/<%= prods[i].image %>" alt="<%= prods[i].name %>"></a>
        </div>
    <% };%>
</div>
<%- include("./partials/footer") %>