<!--Abraham - Se muestra el detalle del producto segun el id de la URL-->
<%- include("./partials/header") %>
<script src="/public/js/shoppingcart.js"></script>
<div class="dividirColumnas">
    <section class="imagenes">
        <div class="imagenProducto">
            <img src="<%= product.image %>" alt="Producto">
        </div>
        <div class="imagenes_botones">
            <img width="44" height="44" decoding="async" src="<%= product.image %>" class="ui-pdp-image" alt="<%= product.name %>">
            <img width="44" height="44" decoding="async" src="<%= product.image %>" class="ui-pdp-image" alt="<%= product.name %>">
        </div>
    </section>
    <section class="detalles-producto">
        <h1><%= product.name %></h1>
        <div class="precios">
                <h3>$<%= product.price %></h3>
                <h5><%= product.discount %>% OFF</h5>
        </div>
        <div class="listado">
            <%= product.description %>
        </div>
        <form>
            <label>Seleccione el relleno:</label>
            <select class="estilo_cuadro" name="flavors">
                <option value="Seleccione">Seleccione...</option>
                <% flavors.forEach(flavor => {%>                    
                    <option value="<%= flavor.name %>">
                        <%= flavor.name %>
                    </option>
                <% });%>
            </select>
            <label>Seleccione el tamaño:</label>
            <select class="estilo_cuadro" name="size">
                <option value="Seleccione">Seleccione...</option>
                <% sizes.forEach(size => {%>                    
                    <option value="<%= size.name %>">
                        <%= size.name %>
                    </option>
                <% });%>
            </select>
            <button onClick="setFromInfo(this.form)" class="boton_carrito" name="boton" type="button">AÑADIR AL CARRITO</button>
        </form>
    </section>
</div>
<div class="prod">
    <h3>Productos similares</h3>
</div>
<div class="productos_similares">
    <div class="imagenes_prod_similares ">
        <img src="/public/images/torta-sofia.jpg ">
    </div>

    <div class="imagenes_prod_similares ">
        <img src="/public/images/torta-emma.jpg ">
    </div>
</div>
<%- include("./partials/footer") %>