<%- include("./partials/header") %>
<form class="form_edit" method="POST" action="/productos/edit">
    <label for="Nombre">Nombre:</label>
    <input type="text" name="<%= product.name %>" value="<%= product.name %>" placeholder="agregá el nombre del producto">
    <label for="Precio">Precio:</label>
    <input type="number" value="<%= product.price %>" name="precio" placeholder="agregá el precio del producto">
    <label for="Descuento">Descuento:</label>
    <input type="number" value="<%= product.discount %>" name="descuento" placeholder="agregá el descuento del producto">
    <label for="Descripcion">Descripción:</label>
    <input type="text" value="<%= product.description %>" name="descripcion" placeholder="agregá descripcion">
    <label for="Categoria">Categoría:</label>    
    <input type="text" value="<%= product.categorie %>" name="categoria" placeholder="agregá la categoria del producto">
    <input type="submit" value="Agregar poducto">
</form>
<%- include("./partials/footer") %>