<%- include("./partials/header") %>
<div class="main-container">
    <aside class="left-col">
        <div class="categorias">
            <h2>Categorías</h2>
            <ul>
                <% for (let i = 0; i < categories.length; i++) { %>
                    <li><a href="/categorie/<%=categories[i].prod_categ_id%>"><%= categories[i].name %></a></li>
                <% };%>
            </ul>
        </div>
        <div class="aside-destacado">
            <img src="<%= prod[0].image %>" alt="<%= prod[0].name %>">
            <div class="mask">
                <h2 class="product-title"><%= prod[0].name %></h2>
                <span class="description">
                    <%= prod[0].description %>
                </span>
                <span class="price"><%= prod[0].price %> $</span>
            </div>
        </div>
    </aside>
    <div class="main-content">
        <div class="main-carrousel">
            <div class="slideshow-container">
                <div class="mySlides">
                    <img src="/public/images/postre-2-a.jpg">
                </div>

                <div class="mySlides">
                    <img src="/public/images/postre-3-a.jpg">
                </div>

                <div class="mySlides">
                    <img src="/public/images/postre-1-a.jpg">
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
        <div class="main-products">
            <% for (let i = 0; i <= 2; i++) { %>
                <article class="product">
                    <div class="mask">
                        <h2 class="product-title"><%= prods[i].name %></h2>
                        <a href="/productos/detail/<%=prods[i].prod_id%>"><img src="<%= prods[i].image %>"></a>
                        <span class="price"><%= prods[i].price %> $</span>
                    </div>
                </article>
            <% };%>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>
<script src="/public/js/carrousel.js"></script>